
<row class="row is-table-row" >

  <div class="col-sm-1 ">
    <%= link_to 'Create', new_tbl_customer_path , class: "btn btn-success"%>
  </div>

  <div class="col-sm-2 ">
    <h4>Listing Tbl Customers</h4>
  </div>

  <div class="col-sm-3">
    <%= search_form_for @q, class: 'search-form' do |f| %>
      <div class="input-group">
        <%= f.search_field :CustName_cont, class: 'form-control' %>
        <span class="input-group-btn">
          <button class="btn btn-primary">Search <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    <% end %>
  </div>

  <div class="col-sm-4 ">
    <%= paginate @tbl_customers %>
  </div>
  
  <div class="col-sm-2 ">
    <%= page_entries_info @tbl_customers, :entry_name => 'item' %>
  </div>
  
</row>


<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="1"></th>
            <th>Custname</th>
      <th>Custlocation</th>
      <th>Current</th>
    </tr>
  </thead>

  <tbody>
    <% @tbl_customers.each do |tbl_customer| %>
      <tr>
        <td>
          <div class="btn-group">
          <%= link_to 'Show', tbl_customer, class: "btn btn-info", :style=>'color:#FFFFFF;' %>
          <%= link_to 'Edit', edit_tbl_customer_path(tbl_customer), class: "btn btn-primary", :style=>'color:#FFFFFF;' %>
          <% #commentedout  = link_to 'Destroy', tbl_customer, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning", :style=>'color:#FFFFFF;' %>
          </div>
        </td>
        
        <td><%= tbl_customer.CustName %></td>
        <td><%= tbl_customer.CustLocation %></td>
        <td><%= tbl_customer.Current %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
