
<row class="row is-table-row" >

  <div class="col-sm-1 ">
    <%= link_to 'Create', new_tbl_quality_issue_path , class: "btn btn-success"%>
  </div>

  <div class="col-sm-2 ">
    <h4>Listing Tbl Quality Issues</h4>
  </div>

  <div class="col-sm-3">
    <%= search_form_for @q, class: 'search-form' do |f| %>
      <div class="input-group">
        <%= f.search_field :id_cont, class: 'form-control',  placeholder: "Tag number search .."  %>
        <%= f.search_field :date_cont, class: 'form-control',  placeholder: "string in `Date` search - like 2019-09 "  %>
        <%= f.search_field :Issuedby_cont, class: 'form-control',  placeholder: "Issuedby search .."  %>
        <%= f.search_field :PartID_cont, class: 'form-control' ,  placeholder: "Partid search .." %>
        <%= f.search_field text_qualityissues_cont, class: 'form-control',  placeholder: "text fields search .." %>
        <%= f.search_field :PartID_or_Issuedby_or_OpertionHd_or_OpertionTp_or_OpertionSp_or_OpertionQA_or_Reason_or_Feature_cont_any,
                    class: 'form-control',  placeholder: "PartID Issuedby Opertion.. Reason Feature search .." %>
        <span class="input-group-btn">
          <button class="btn btn-primary">Search <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    <% end %>
  </div>

  <div class="col-sm-4 ">
    <%= paginate @tbl_quality_issues %>
  </div>
  
  <div class="col-sm-2 ">
    <%= page_entries_info @tbl_quality_issues, :entry_name => 'item' %>
  </div>
  
</row>


<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="1"></th>
            <th>Problemtype</th>
      <th>ID</th>
      <th>Date</th>
      <th>Partid</th>
      <th>Issuedby</th>
      <th>Op hd</th>
      <th>Reason</th>
      <th>Reasonnote</th>
      <th>Feature</th>
      <th>Changed</th>
      <th>Comment</th>
      <th>Spec inst</th>
      <th>Q alert</th>
      <th>No qa</th>
      <th>No ht</th>
      <th>Machine</th>
      <th>Len chg</th>
      <th>Okdby</th>
      <th>Holdtag</th>
      <th>Tpctag</th>
      <th>Certtag</th>
      <th>Q atag</th>
      <th>Closed</th>
      <th>Body</th>
      <th>Op</th>
      <th>Qty</th>
      <th>Active status</th>
    </tr>
  </thead>

  <tbody>
    <% @tbl_quality_issues.each do |tbl_quality_issue| %>
      <tr>
        <td>
          <div class="btn-group">
          <%= link_to 'Show', tbl_quality_issue, class: "btn btn-info", :style=>'color:#FFFFFF;' %>
          <%= link_to 'Edit', edit_tbl_quality_issue_path(tbl_quality_issue), class: "btn btn-primary", :style=>'color:#FFFFFF;' %>
          <% #commentedout  = link_to 'Destroy', tbl_quality_issue, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning", :style=>'color:#FFFFFF;' %>
          </div>
        </td>
        
        <td><%= tbl_quality_issue.ProblemType %></td>
        <td><%= tbl_quality_issue.ID %></td>
        <td><%= tbl_quality_issue.Date %></td>
        <td><%= tbl_quality_issue.PartID %></td>
        <td><%= tbl_quality_issue.Issuedby %></td>
        <td><%= tbl_quality_issue.OpertionHd %></td>
        <td><%= tbl_quality_issue.Reason %></td>
        <td><%= tbl_quality_issue.ReasonNote %></td>
        <td><%= tbl_quality_issue.Feature %></td>
        <td><%= tbl_quality_issue.Changed %></td>
        <td><%= tbl_quality_issue.Comment %></td>
        <td><%= tbl_quality_issue.SpecialInst %></td>
        <td><%= tbl_quality_issue.QualityAlert %></td>
        <td><%= tbl_quality_issue.NofPiecesQA %></td>
        <td><%= tbl_quality_issue.NofPiecesHT %></td>
        <td><%= tbl_quality_issue.MachineID %></td>
        <td><%= tbl_quality_issue.Lengthofchange %></td>
        <td><%= tbl_quality_issue.Okdby %></td>
        <td><%= tbl_quality_issue.HoldTag %></td>
        <td><%= tbl_quality_issue.TPCTag %></td>
        <td><%= tbl_quality_issue.CertTag %></td>
        <td><%= tbl_quality_issue.QualityATag %></td>
        <td><%= tbl_quality_issue.Closed %></td>
        <td><%= tbl_quality_issue.body %></td>
        <td><%= tbl_quality_issue.operation %></td>
        <td><%= tbl_quality_issue.qty %></td>
        <td><%= tbl_quality_issue.active_status %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
