

  <%= link_to "Send HoldTag test email", :controller => "tbl_quality_issues", :action => "holdtag_email", :id => @tbl_quality_issue.id  %>
  <br><br>

  <p>
  <strong>Problemtype:</strong>
  <%= @tbl_quality_issue.ProblemType %>
</p>

<p>
  <strong>Year:</strong>
  <%= @tbl_quality_issue.Year %>
</p>

<p>
  <strong>Date:</strong>
  <%= @tbl_quality_issue.Date %>
</p>

<p>
  <strong>Partid:</strong>
  <%= @tbl_quality_issue.PartID %>
</p>

<p>
  <strong>Issuedby:</strong>
  <%= @tbl_quality_issue.Issuedby %>
</p>

<p>
  <strong>Opertionhd:</strong>
  <%= @tbl_quality_issue.OpertionHd %>
</p>

<p>
  <strong>Opertiontp:</strong>
  <%= @tbl_quality_issue.OpertionTp %>
</p>

<p>
  <strong>Opertionsp:</strong>
  <%= @tbl_quality_issue.OpertionSp %>
</p>

<p>
  <strong>Opertionqa:</strong>
  <%= @tbl_quality_issue.OpertionQA %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @tbl_quality_issue.Reason %>
</p>

<p>
  <strong>Reasonnote:</strong>
  <%= @tbl_quality_issue.ReasonNote %>
</p>

<p>
  <strong>Feature:</strong>
  <%= @tbl_quality_issue.Feature %>
</p>

<p>
  <strong>Changed:</strong>
  <%= @tbl_quality_issue.Changed %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @tbl_quality_issue.Comment %>
</p>

<p>
  <strong>Specialinst:</strong>
  <%= @tbl_quality_issue.SpecialInst %>
</p>

<p>
  <strong>Qualityalert:</strong>
  <%= @tbl_quality_issue.QualityAlert %>
</p>

<p>
  <strong>Qualityalertmemo:</strong>
  <%= @tbl_quality_issue.QualityAlertMemo %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @tbl_quality_issue.Cost %>
</p>

<p>
  <strong>Nofpiecesqa:</strong>
  <%= @tbl_quality_issue.NofPiecesQA %>
</p>

<p>
  <strong>Nofpiecesht:</strong>
  <%= @tbl_quality_issue.NofPiecesHT %>
</p>

<p>
  <strong>Machineid:</strong>
  <%= @tbl_quality_issue.MachineID %>
</p>

<p>
  <strong>Customerid:</strong>
  <%= @tbl_quality_issue.CustomerID %>
</p>

<p>
  <strong>Customerrefnum:</strong>
  <%= @tbl_quality_issue.CustomerRefNum %>
</p>

<p>
  <strong>Dateissued:</strong>
  <%= @tbl_quality_issue.DateIssued %>
</p>

<p>
  <strong>Dispositioncustomer:</strong>
  <%= @tbl_quality_issue.DispositionCustomer %>
</p>

<p>
  <strong>Dispositionstackpole:</strong>
  <%= @tbl_quality_issue.DispositionStackpole %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @tbl_quality_issue.Picture %>
</p>

<p>
  <strong>Lengthofchange:</strong>
  <%= @tbl_quality_issue.Lengthofchange %>
</p>

<p>
  <strong>Okdby:</strong>
  <%= @tbl_quality_issue.Okdby %>
</p>

<p>
  <strong>Modwritten:</strong>
  <%= @tbl_quality_issue.ModWritten %>
</p>

<p>
  <strong>Specialinstwritten:</strong>
  <%= @tbl_quality_issue.SpecialInstWritten %>
</p>

<p>
  <strong>Holdtag:</strong>
  <%= @tbl_quality_issue.HoldTag %>
</p>

<p>
  <strong>Tpctag:</strong>
  <%= @tbl_quality_issue.TPCTag %>
</p>

<p>
  <strong>Certtag:</strong>
  <%= @tbl_quality_issue.CertTag %>
</p>

<p>
  <strong>Qualityatag:</strong>
  <%= @tbl_quality_issue.QualityATag %>
</p>

<p>
  <strong>Closed:</strong>
  <%= @tbl_quality_issue.Closed %>
</p>

<p>
  <strong>Supplier issue:</strong>
  <%= @tbl_quality_issue.Supplier_Issue %>
</p>

<p>
  <strong>Controlplan:</strong>
  <%= @tbl_quality_issue.ControlPlan %>
</p>

<p>
  <strong>Layeredaudit:</strong>
  <%= @tbl_quality_issue.LayeredAudit %>
</p>

<p>
  <strong>Qualitymemo:</strong>
  <%= @tbl_quality_issue.QualityMemo %>
</p>

<p>
  <strong>Featurenumber:</strong>
  <%= @tbl_quality_issue.FeatureNumber %>
</p>

<p>
  <strong>Currentminspec:</strong>
  <%= @tbl_quality_issue.CurrentMinSpec %>
</p>

<p>
  <strong>Currentmaxspec:</strong>
  <%= @tbl_quality_issue.CurrentMaxSpec %>
</p>

<p>
  <strong>Tpcminspec:</strong>
  <%= @tbl_quality_issue.TPCMinSpec %>
</p>

<p>
  <strong>Tpcmaxspec:</strong>
  <%= @tbl_quality_issue.TPCMaxSpec %>
</p>

<p>
  <strong>Operationnumber:</strong>
  <%= @tbl_quality_issue.OperationNumber %>
</p>

<p>
  <strong>Body:</strong>
  <%= @tbl_quality_issue.body %>
</p>

<p>
  <strong>Operation:</strong>
  <%= @tbl_quality_issue.operation %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @tbl_quality_issue.qty %>
</p>

<p>
  <strong>Active status:</strong>
  <%= @tbl_quality_issue.active_status %>
</p>

<br>
<%= link_to 'Edit', edit_tbl_quality_issue_path(@tbl_quality_issue), class: "btn btn-primary", :style=>'color:#FFFFFF;' %> &nbsp &nbsp
<%= link_to 'Back', tbl_quality_issues_path, class: "btn btn-default" %>
