
<row class="row is-table-row" >

  <div class="col-sm-1 ">
    <%= link_to 'Create', new_dept_path , class: "btn btn-success"%>
  </div>

  <div class="col-sm-2 ">
    <h4>Listing Depts</h4>
  </div>

  <div class="col-sm-3">
    <%= search_form_for @q, class: 'search-form' do |f| %>
      <div class="input-group">
        <%= f.search_field :Department_cont, class: 'form-control' %>
        <span class="input-group-btn">
          <button class="btn btn-primary">Search <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    <% end %>
  </div>

  <div class="col-sm-4 ">
    <%= paginate @depts %>
  </div>
  
  <div class="col-sm-2 ">
    <%= page_entries_info @depts, :entry_name => 'item' %>
  </div>
  
</row>


<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="1"></th>
            <th>Department</th>
      <th>Departmentstate</th>
    </tr>
  </thead>

  <tbody>
    <% @depts.each do |dept| %>
      <tr>
        <td>
          <div class="btn-group">
          <%= link_to 'Show', dept, class: "btn btn-info", :style=>'color:#FFFFFF;' %>
          <%= link_to 'Edit', edit_dept_path(dept), class: "btn btn-primary", :style=>'color:#FFFFFF;' %>
          <% #commentedout  = link_to 'Destroy', dept, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning", :style=>'color:#FFFFFF;' %>
          </div>
        </td>
        
        <td><%= dept.Department %></td>
        <td><%= dept.DepartmentState %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
