
<row class="row is-table-row" >

  <div class="col-sm-1 ">
    <%= link_to 'Create', new_tbl_hold_tag_so_path , class: "btn btn-success"%>
  </div>

  <div class="col-sm-2 ">
    <h4>Listing Tbl Hold Tag Sos</h4>
  </div>

  <div class="col-sm-3">
    <%= search_form_for @q, class: 'search-form' do |f| %>
      <div class="input-group">
        <%= f.search_field :TagNumber_cont, class: 'form-control' %>
        <span class="input-group-btn">
          <button class="btn btn-primary">Search <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    <% end %>
  </div>

  <div class="col-sm-4 ">
    <%= paginate @tbl_hold_tag_sos %>
  </div>
  
  <div class="col-sm-2 ">
    <%= page_entries_info @tbl_hold_tag_sos, :entry_name => 'item' %>
  </div>
  
</row>


<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="1"></th>
            <th>Tagnumber</th>
      <th>Dateclosed</th>
      <th>Oktoprocessby</th>
      <th>Sortamt</th>
      <th>Sortby</th>
      <th>Reworkamt</th>
      <th>Reworkby</th>
      <th>Scrapamt</th>
      <th>Scrapby</th>
      <th>Useasisamt</th>
      <th>Useasisby</th>
      <th>Authorizedby</th>
    </tr>
  </thead>

  <tbody>
    <% @tbl_hold_tag_sos.each do |tbl_hold_tag_so| %>
      <tr>
        <td>
          <div class="btn-group">
          <%= link_to 'Show', tbl_hold_tag_so, class: "btn btn-info", :style=>'color:#FFFFFF;' %>
          <%= link_to 'Edit', edit_tbl_hold_tag_so_path(tbl_hold_tag_so), class: "btn btn-primary", :style=>'color:#FFFFFF;' %>
          <% #commentedout  = link_to 'Destroy', tbl_hold_tag_so, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning", :style=>'color:#FFFFFF;' %>
          </div>
        </td>
        
        <td><%= tbl_hold_tag_so.TagNumber %></td>
        <td><%= tbl_hold_tag_so.DateClosed %></td>
        <td><%= tbl_hold_tag_so.OKtoProcessBy %></td>
        <td><%= tbl_hold_tag_so.SortAmt %></td>
        <td><%= tbl_hold_tag_so.SortBy %></td>
        <td><%= tbl_hold_tag_so.ReworkAmt %></td>
        <td><%= tbl_hold_tag_so.ReworkBy %></td>
        <td><%= tbl_hold_tag_so.ScrapAmt %></td>
        <td><%= tbl_hold_tag_so.ScrapBy %></td>
        <td><%= tbl_hold_tag_so.UseAsIsAmt %></td>
        <td><%= tbl_hold_tag_so.UseAsIsBy %></td>
        <td><%= tbl_hold_tag_so.AuthorizedBy %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
