
<p>
  <strong>Tagnumber:</strong>
  <%= @tbl_hold_tag_so.TagNumber %>
</p>

<p>
  <strong>Dateclosed:</strong>
  <%= @tbl_hold_tag_so.DateClosed %>
</p>

<p>
  <strong>Oktoprocessby:</strong>
  <%= @tbl_hold_tag_so.OKtoProcessBy %>
</p>

<p>
  <strong>Sortamt:</strong>
  <%= @tbl_hold_tag_so.SortAmt %>
</p>

<p>
  <strong>Sortby:</strong>
  <%= @tbl_hold_tag_so.SortBy %>
</p>

<p>
  <strong>Reworkamt:</strong>
  <%= @tbl_hold_tag_so.ReworkAmt %>
</p>

<p>
  <strong>Reworkby:</strong>
  <%= @tbl_hold_tag_so.ReworkBy %>
</p>

<p>
  <strong>Scrapamt:</strong>
  <%= @tbl_hold_tag_so.ScrapAmt %>
</p>

<p>
  <strong>Scrapby:</strong>
  <%= @tbl_hold_tag_so.ScrapBy %>
</p>

<p>
  <strong>Useasisamt:</strong>
  <%= @tbl_hold_tag_so.UseAsIsAmt %>
</p>

<p>
  <strong>Useasisby:</strong>
  <%= @tbl_hold_tag_so.UseAsIsBy %>
</p>

<p>
  <strong>Authorizedby:</strong>
  <%= @tbl_hold_tag_so.AuthorizedBy %>
</p>

<br>
<%= link_to 'Edit', edit_tbl_hold_tag_so_path(@tbl_hold_tag_so), class: "btn btn-primary", :style=>'color:#FFFFFF;' %> &nbsp &nbsp
<%= link_to 'Back', tbl_hold_tag_sos_path, class: "btn btn-default" %>
