
<row class="row is-table-row" >

  <div class="col-sm-1 ">
    <%= link_to 'Create', new_machine_path , class: "btn btn-success"%>
  </div>

  <div class="col-sm-2 ">
    <h4>Listing Machines</h4>
  </div>

  <div class="col-sm-3">
    <%= search_form_for @q, class: 'search-form' do |f| %>
      <div class="input-group">
        <%= f.search_field :DeptID_cont, class: 'form-control' %>
        <span class="input-group-btn">
          <button class="btn btn-primary">Search <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    <% end %>
  </div>

  <div class="col-sm-4 ">
    <%= paginate @machines %>
  </div>
  
  <div class="col-sm-2 ">
    <%= page_entries_info @machines, :entry_name => 'item' %>
  </div>
  
</row>


<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="1"></th>
            <th>Deptid</th>
      <th>Machinedesc</th>
      <th>Plantid</th>
      <th>Stamp</th>
    </tr>
  </thead>

  <tbody>
    <% @machines.each do |machine| %>
      <tr>
        <td>
          <div class="btn-group">
          <%= link_to 'Show', machine, class: "btn btn-info", :style=>'color:#FFFFFF;' %>
          <%= link_to 'Edit', edit_machine_path(machine), class: "btn btn-primary", :style=>'color:#FFFFFF;' %>
          <% #commentedout  = link_to 'Destroy', machine, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning", :style=>'color:#FFFFFF;' %>
          </div>
        </td>
        
        <td><%= machine.DeptID %></td>
        <td><%= machine.MachineDesc %></td>
        <td><%= machine.PlantID %></td>
        <td><%= machine.Stamp %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
